## How to Delete Indices, Rows or Columns From a Pandas Data Frame

https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python

### deleting an index from you dataFrame

- resetting the index
- remove the index
- remove the index name

In [90]:
import pandas as pd
import numpy as np

df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [40, 50, 60], [23, 50, 37]]), 
                  index= [2.5, 12.6, 4.8, 4.8, 2.5], 
                  columns=[48, 49, 50])

- remove the duplicate index value
- drop the duplicates of the index column
- reinstating duplicates column again as the index

In [91]:
df.reset_index().drop_duplicates(subset='index', keep='last').set_index('index')

       48  49  50
index
12.6    4   5   6
4.8    40  50  60
2.5    23  50  37

### deleting a column from you dataFrame

In [92]:
print(df)

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9
4.8   40  50  60
2.5   23  50  37

In [93]:
# Drop the column with label '48'                  
df.drop(48, axis=1, inplace=True)

# axis = 0 rows 
# axis = 1 columns
# inplace to True to delete the column without having to reassign the DataFrame.

# Drop the column at position 1
df.drop(df.columns[[1]], axis=1)

      49
2.5    2
12.6   5
4.8    8
4.8   50
2.5   50

In [94]:
print(df)

      49  50
2.5    2   3
12.6   5   6
4.8    8   9
4.8   50  60
2.5   50  37

### Romving a Row from your DataFrame

In [95]:
print(df)

      49  50
2.5    2   3
12.6   5   6
4.8    8   9
4.8   50  60
2.5   50  37

In [96]:
df.drop_duplicates([49], keep='last')

      49  50
2.5    2   3
12.6   5   6
4.8    8   9
2.5   50  37

In [97]:
print(df)

      49  50
2.5    2   3
12.6   5   6
4.8    8   9
4.8   50  60
2.5   50  37

In [98]:
print(df.drop(df.index[1]))

     49  50
2.5   2   3
4.8   8   9
4.8  50  60
2.5  50  37

## How to rename the index or Columns From a Pandas Data Frame

In [99]:
print(df)

      49  50
2.5    2   3
12.6   5   6
4.8    8   9
4.8   50  60
2.5   50  37

In [105]:
# Define the new names of your columns
print(df)

# Define the new names of your columns
newcols = {
    'A': 'new_column_1', 
    'B': 'new_column_2', 
    'C': 'new_column_3'
}

# Use `rename()` to rename your columns
df.rename(columns=newcols, inplace=True)

# Rename your index
df.rename(index={1: 'a'})

      49  50
2.5    2   3
12.6   5   6
4.8    8   9
4.8   50  60
2.5   50  37

      49  50
2.5    2   3
12.6   5   6
4.8    8   9
4.8   50  60
2.5   50  37